/*Global CSS*/

	*{
		margin: 0;
		padding: 0;
		font-family: 'Raleway', san-serif;
	}

	.container{
		width: 1140px;
		margin: 0 auto;
	}
	
/*Topbar Section*/

	.topbar{
	    float: left;
	    width: 100%;
	    background: linear-gradient(to right, #00867d, #0090a0);
	    padding: 1% 0;
	}
	.logo{
	    float: left;
	    width: 30%;
	}

	.logo img{}
	.topbar .menu{
	    float: right;
	    width: 70%;
	}
	.topbar .menu ul{
	    float: right;
	    list-style: none;
	    margin-top: 1%;
	}
	.topbar .menu ul li{
		float: left;
		transition: all 0.3s linear;
		margin-left: 8px;
		text-transform: uppercase;
	}
	.topbar .menu ul li:last-child{
	    background: #00c29e;
	    border-radius: 4px;
	    border: 2px solid rgba(0, 0, 0, 0);
	}
	.topbar .menu ul li a{
		text-decoration: none;
		color: #fff;
		display: inline-block;
		padding: 12px 20px;
	}

	.topbar .menu ul li:hover{
	    background: #00c29e;
	    border-radius: 4px;
	}
	.topbar .menu ul li:last-child:hover{
	    background: #14d6b2;
	    border: 2px solid #43e4c5;
	}

/*Banner Section */

	.banner{
		float: left;
		width: 100%;
		background: url(../images/banner.jpg);
		background-position: center;
		background-size: cover;
		min-height: 650px;
		position: relative;
	}
	.banner:after{
		content: "";
		background-color: rgba(0, 0, 0, 0.65);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.banner-text{
	    z-index: 2;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	}
	.banner-text h1{
	    color: #fefefe;
	    font-size: 52px;
	    line-height: 1.3;
	}
	.banner-text h1 span{
	    text-transform: lowercase;
	    font-weight: 300;
	}
	.banner-btn{
	    margin-top: 12%;
	}
	.banner-btn .btn-cta, .banner-btn .btn-ghost{
		text-decoration: none;
		color: #fefefe;
		border: 2px solid #fff;
		border-radius: 5px;
		display: inline-block;
		width: 22%;
		height: 40px;
		line-height: 40px;
		margin: 0px 1%;
		text-transform: uppercase;
		font-size: 14px;
		transition: all 0.3s linear;

	}
	.banner-btn .btn-cta{
	    background: linear-gradient(to right, #00867d, #0090a0);
	    position: relative;
	}

	.banner-btn .btn-cta:after{
		content: "Get Started";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(60deg, #03b785, #01a4ce);
		opacity: 0;
		transition: all 0.3s linear;
	}

	.banner-btn .btn-cta:hover:after{
		opacity: 1;
	}

	.banner-btn .btn-ghost:hover{
		background: #04b3a7;
	}

/*About Us Section*/

	.about{
	    padding: 4% 0;
	    float: left;
	    width: 100%;
	    background: #e9e9e9;
	}
	.head-text{
	    text-align: center;
	    float: left;
	    width: 100%;
	}
	.head-text h2{
	    text-transform: uppercase;
	    font-size: 40px;
	    color: #222;
	}
	.head-text p{
	    font-size: 18px;
	    box-sizing: border-box;
	    padding: 0 7%;
	    color: #111111;
	    margin-top: 2%;
	    line-height: 1.5;
	}
	.promises{
	    float: left;
	    width: 100%;
	    text-align: center;
	    margin-top: 5%;
	}
	.feature{
		font-family: 'Lato', sans-serif;
		float: left;
		width: 23%;
		background: #fff;
		box-sizing: border-box;
		margin: 1%;
		position: relative;
		box-shadow: 0px 0px 5px #c3c3c3;
		border-radius: 5px;
	}
	.feature img{
    	margin-top: 14%;
	}
	.feature h4{
	    font-family: 'Lato', sans-serif;
	    padding: 5% 1% 7%;
	    font-size: 20px;
	    text-transform: uppercase;
	    color: #222;
	}
	.feature .division{
		width: 100%;
		background: #e0e0e0;
		height: 2px;
		position: absolute;
	}
	
	.feature p{
	    font-family: 'Lato', sans-serif;
	    margin-bottom: 15%;
	    padding: 6%;
	    line-height: 1.8;
	    color: #727272;
	}

/*Works Section*/

	.works{
		float: left;
		width: 100%;
		padding: 4% 0;
	}
	.works h2{
    margin: 3% 0;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
 }
	.function{
    float: left;
    width: 100%;
	}
	.function .phone{
    float: left;
    width: 40%;
    text-align: right;
	}

	.function .phone img{
    width: 55%;
	}
	.function .func-list{
    float: left;
    width: 57%;
    display: inline-block;
    padding: 0% 0 0 3%;
	}
	.function .func-list ul{
    float: left;
    width: 100%;
    list-style: none;
    font-size: 20px;
	}
	.function .func-list ul li{
    margin: 9% 0;
    line-height: 1.5;
    font-size: 20px;
    text-transform: uppercase;
 }	
	.function .func-list ul li .pointer{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid #04b3a7;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
    font-size: 40px;
    font-family: none;
	}
	.function .func-links{float: left;width: 100%;}
	.function .func-links a img{
    max-width: 33%;
    margin-left: 2%;
	}
	.function .func-links a img:hover{
		box-shadow: 0px 0px 5px #05b3a7;
	}


/*Cities Section*/

	.cities{
    background: #e9e9e9;
    float: left;
    width: 100%;
	}
	.cities h2{
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 3.5%;
    font-size: 40px;
    color: #222;
    text-transform: uppercase;
 }
	.city{
    float: left;
    width: 100%;
    margin-bottom: 5%;
	}
	.cities-text{}
	.city-box{
    float: left;
    width: 23%;
    margin: 1%;
	}
	.city-box .scene{
    width: 100%;
    margin: 5% 0 5% 0;
	}
	.city-box h3{
    text-transform: uppercase;
    color: #222;
    margin: 4% 0 4% 0;
    font-size: 20px;
	}
	.city-box ul{
    list-style: none;
	}
	.city-box ul li{
    position: relative;
	}
	.city-box ul li p{
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 46%;
    transform: translate(0,-50%);
    margin-left: 3%;
    color: #444;
	}
	.city-box ul li img{
    margin: 3% 3% 3% 0;
    width: 10%;
	}

/*Testimonial Section*/

	.testimonial{
	    float: left;
	    width: 100%;
	    background: linear-gradient(to right, rgba(1, 53, 50, 0.9), rgba(1, 52, 58, 0.9)), url(../images/back-customers.jpg);
	    background-size: cover;
	    background-position: center;
	    text-align: center;
	    padding: 2% 0;
	    min-height: 350px;
	    position: relative;
	}
		.testimonial h2{
	    font-size: 45px;
	    color: #fefefe;
	    font-weight: 600;
	    text-transform: uppercase;
	}
		.testimonial p{
	    color: #fefefe;
	    padding: 4% 25% 0 25%;
	    font-size: 22px;
	    line-height: 1.4;
	    font-family: 'Lato', san-serif;
	    font-weight: 400;
	}
		.testimonial .apostrophy{
		font-size: 100px;
		position: absolute;
		top: 17%;
		left: 29%;
		color: #fefefe;
		font-style: italic;
		font-weight: 300;
		}
		.customer{
	    margin-top: 3%;
	    float: left;
	    width: 100%;
		}
		.customer .customer-img{
	    float: left;
	    width: 50%;
	    text-align: right;
		}
		.customer .customer-img img{
	    margin-right: 5%;
	    width: 25%;
	    border: 3px solid #0b3c2e;
	    border-radius: 50%;
		}
		.customer .customer-name{
	    float: left;
	    width: 50%;
	    text-align: left;
		}
		.customer .customer-name h4{
	    padding: 10% 0 10% 6%;
	    font-size: 25px;
	    color: #fefefe;
	    font-weight: 400;
	    font-family: 'Lato', san-serif;
		}

/*Plans Section*/

	.package{
	    background: #e9e9e9;
	    float: left;
	    width: 100%;
	    padding: 3% 0;
	}
	.package .plan-text{
	    text-align: center;
	    margin-bottom: 3%;
	    font-size: 40px;
	    color: #222;
	    text-transform: uppercase;
	}
	.plans{
	    float: left;
	    width: 31.33%;
	    background: #fff;
	    box-sizing: border-box;
	    padding: 4% 2%;
	    margin: 0 1%;
	    box-shadow: 0px 0px 5px #828282;
	    transition: all 0.2s linear;
	    border-radius: 5px;
	}
	.plans h2{
	    text-align: center;
	    margin: 3% 0;
	    font-size: 30px;
	    color: #222;
	    text-transform: uppercase;
	}
	.plans h1{
	    margin: 4% 0;
	    text-align: center;
	    font-size: 25px;
	    color: #222;
	}
	.plans h1 span{
	    font-size: 46px;
	}
	.plans .line{
	    width: 100%;
	    height: 2px;
	    background: #4daca8;
	    opacity: 0;
	}
	.plans ul{
	    list-style: none;
	}
	.plans ul li{
	    color: #222;
	    font-size: 16px;
	    font-weight: 400;
	}
	.plans ul li i{
	    color: #267f5f;
	    margin: 3%;
	    font-size: 25px;
	}
	.plans .sign0{
	    display: inline-block;
	    position: relative;
	    width: 100%;
	    float: left;
	    height: 55px;
	    margin-top: 5%;
	}
	.sign0 .submit0{
	    position: absolute;
	    border: none;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    padding: 4% 8%;
	    z-index: 1;
	    background: #fff;
	    border-radius: 5px;
	    font-weight: 600;
	    outline: 0;
	    transition: all 0.2s linear;
	}
	.sign0:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 47%;
		height: 80%;
		background: linear-gradient(to right, #00867d, #0090a0);
		z-index: 0;
		border-radius: 5px;
	}
	.plans:hover .line{
		opacity: 1;
	}
	.plans:hover .sign0:after{
		background: #fff;
	}
	.plans:hover .submit0{
		background: #078694;
		color: #fff;
	}
	.plans:hover ,.plans:hover h2, .plans:hover h1, .plans:hover ul li, .plans:hover ul li i{
		background: #008882;
		color: #fff;
	}

/*Connected Secion*/

	.connection{
	    float: left;
	    width: 100%;
	    padding: 3% 0;
	}
	.connection h2{
	    text-align: center;
	    text-transform: uppercase;
	    margin-bottom: 3%;
	    font-size: 35px;
	    color: #222;
	}
	.inputs{
		float: left;
		width: 100%;
		box-sizing: border-box;
		padding: 0 30%;
	}
	.inputs input[type="text"], .inputs input[type="email"]{
	    display: block;
	    width: 100%;
	    border: none;
	    background: #e9e9e9;
	    margin: 5% 0;
	    border-radius: 5px;
	    padding: 3%;
	    box-sizing: border-box;
	    border: 2px solid #fff;
	}
	.inputs input[type="text"]:hover, .inputs input[type="email"]:hover, .inputs input[type="text"]:focus, .inputs input[type="email"]:focus{
		border: 2px solid #04b3a7;
		outline: 0;
		transition: all 0.3s ease-in;
	}

	.inputs select{
		display: block;
	    width: 100%;
	    margin: 5% 0;
	    border-radius: 5px;
	    background: #e9e9e9;
	    border: 2px solid #fff;
	    color: #757a84;
	    padding: 3%;
	    box-sizing: border-box;
	}
	.inputs select:hover, .inputs select:focus{
		outline: none;
		border: 2px solid #04b3a7;
		transition: all 0.3s ease-in;
	}
	.input0{
	    display: inline-block;
	    padding: 2% 3%;
	    border-radius: 5px;
	    background: #fff;
	    position: relative;
	    margin: 0 32%;
	    transition: all 0.3s ease-in;
	}
	.input0 input[type="submit"]{
	    color: #847f84;
	    background: none;
	    border: none;
	    padding: 0 15%;
	    font-weight: 600;
	}
	.input0:after{
		content: "";
		position: absolute;
		width: 104%;
		height: 115%;
		z-index: -1;
		background: linear-gradient(to right, #00867d, #0090a0);
		top: -5.7%;
		left: -2%;
		border-radius: 5px;
	}
	.input0:hover{
		background: #00909f;
	}
	.input0:hover input[type="submit"]{
		color: #fff;
	}

/*Office Section*/

	.office{
		float: left;
		width: 100%;
		background: linear-gradient(to right, rgba(0, 16, 10, 0.9), rgba(0, 37, 27, 0.8)),url(../images/portugal.jpg);
		background-position: center;
		background-size: cover;
		min-height: 570px;
		position: relative;
	}
	.office .map{
    float: left;
    width: 40%;
    position: absolute;
    top: 12%;
    text-align: right;
 	}
	.office .map img{
    width: 75%;
 	}
	.office .map .placeholder img{
    width: 2%;
    position: absolute;
    bottom: 8%;
    left: 36%;
 	}
 	.office .marker{
 		width: 5%;
 		position: absolute;
 		top: 10%;
 		left: 97%;
 	}
 	.office .marker:after{
 		position: absolute;
 		top: -9%;
 		left: -28%;
 		width: 30px;
 		height: 30px;
 		background: #fff;
 		border-radius: 50%;
 		border: 8px solid #fff;
 	}
	.office .location{
    float: left;
    width: 40%;
    position: absolute;
    top: 15%;
    color: #fff;
    left: 55%;
 	}
	.office .locate{
    list-style: none;
	}
	.office .locate h2{
    font-size: 40px;
    margin-top: 3%;
	}
	.office .locate li{
    padding: 2% 0;
    font-size: 20px;
	}
	.office .locate li a{
    text-decoration: none;
    color: #fff;
	}
	.office .get{
    list-style: none;
    margin-top: 3%;
	}
	.office .get h2{
    font-size: 40px;
    padding: 2.5% 0;
	}
	.office .get li{
    display: inline-block;
    padding-right: 3%;
	}
	.office .get li img{
    width: 110%;
	}